<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Gardens Wedding Quote</title>
  </head>
  <body>
    <h1>Gardens Wedding Quote template</h1>
  </body>

</html>